



@font-face {
    font-family: 'fontleroybrownregular';
    src: url('./font/FontleroyBrown-webfont.woff2') format('woff2'),
         url('./font/FontleroyBrown-webfont.woff') format('woff'),
         url('./font/FontleroyBrown-webfont.eot'),
         url('./font/FontleroyBrown-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/FontleroyBrown-webfont.ttf') format('truetype'),
         url('./font/FontleroyBrown-webfont.svg#fontleroybrownregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
:root {
    --bs-body-font-family: "fontleroybrownregular", Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff9f3;
    font-family: "fontleroybrownregular", Arial, sans-serif !important;
}

.wrapper {
    max-width: 1300px;
    width: 100%;
    padding: 20px;
    background-color: #fff9f3;
}

/* Navbar */
.navbar {
    background-color: #f6dec6 !important;
    border: 2px solid #ac9c8b !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 15px;

}

.navbar .navbar-brand img {
    max-height: 60px;
}

.navbar .nav-link {
    color: #333 !important;
    font-size: larger;
}

.navbar .nav-link:hover {
    color: #fff3e6 !important;
}

.navbar-toggler {
    display: block;
    border: 1px solid #ef7c01;
}

.navbar-toggler-icon {
    background-color: #ec810e;
}

.collapse {
    flex-grow: 1;
}

.navbar-collapse {
    justify-content: flex-end;
}
button.search {
    background-color: #ac9c8b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button.search:hover {
    background-color: #ac9c8bd4;
}
/* Aside */
#left-aside, #right-aside {
    width: 10%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: #ac9c8b;
    color: #fff9f3;
    border: 1px solid #938679;
    overflow-y: auto;
}

#left-aside {
    left: 0;
}

#right-aside {
    right: 0;
}

aside ul li:nth-child(3n) {
    margin-bottom: 20px;
}

aside ul li {
    list-style-type: none;
}

/* Hero */
.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ac9c8b;
    background-color: #f6dec6;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hero img {
    max-width: 100%;
    height: auto;
    display: block;
}

.welcome {
    font-family: "fontleroybrownregular", Arial, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Första sektionen */
.firstsection {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.videowrapper {
   /* display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;*/
        max-width: 600px; /* Sätter en maxbredd för videon */
        margin: 0 auto;   /* Centrerar videon på sidan */ 
}
      
video{
        width: 100%;      /* Anpassar videons bredd efter behållarens storlek */
        height: auto;     /* Bevarar videons proportioner */
    }

/* Veckobrev */
.weekly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#exampleFormControlInput1 {
    background-color: #fbf4f4;
    color: #333;
    border: 2px solid #ac9c8b;
    border-radius: 5px;
    padding: 10px;
}

button.send {
    background-color: #ac9c8b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button.send:hover {
    background-color: #ac9c8bd4;
}

/* Footer */
footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background-color: #f6dec6;
}

/* Responsivitet */
@media (max-width: 768px) {
    #left-aside, #right-aside {
        width: 20%;
    }
    body {
        margin-left: 20%;
        margin-right: 20%;
    }
}
